::-moz-selection { /* Code for disgusting stupid firefox browser */
  color: #441e05e0;
  background: #cd7d47e0;
}
::selection {
  color: #441e05e0;
  background: #cd7d47e0;
}
@font-face {
  font-family: "Product Sans";
  src: url("Product Sans Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Product Sans";
  src: url("Product Sans Bold.ttf");
  font-weight: 700;
}
body {
  height: 100vh;
  height: 100%;
  margin: 0;
}
a, p {
  color: #bbe1fa;
  font-family: "Product Sans";
  font-weight: 700;
}
.boks {
  display: inline-block;
  width: 16vw;
  background-color: #0f4c7580;
  border-radius: 10px;
}
.boon {
  margin: 2%;
}
.grid {
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-wrap: wrap;
  justify-content: space-around;
  background-image: url("https://cdn.discordapp.com/attachments/735858327699062858/742543758611972096/Background-dark-blue-wallpaper-HD.png");
  background-size: cover;
}
.cell {
  display: flex;
  justify-content: center;
  line-height: 25vh;
  font-size: 3vw;  
  flex: 0 0 calc(100% / 3  - 4%);
  height: calc(100vh / 3 - 7.4vh);
  margin-bottom: 3.7vh;
  margin-top: 3.7vh;
  margin-left: 2%;
  margin-right: 2%;
  background-color: #1b262ce0;
  border-radius: 40px;
  transition: all 0.3s ease;
}
.big {
  flex: 0 0 calc(100% - 4%);
  height: calc(100vh * (2 / 3) - 7.4vh);
  transition: all 0.3s ease;
  line-height: 10vh;
  justify-content: flex-start;
  width: auto;
}
.big .boks {
  width: 16vw;
  transition: width 0.3s ease;
}
.hoverable:hover {
  flex-basis: calc((100% / 3  - 4%) + 2%);
  margin-left: 1%;
  margin-right: 1%;
  margin-top: 1.85vh;
  margin-bottom: 5.55vh;
  background-color: #3282b8e0;
  font-size: 4.2vw;
}
.big:hover {
  flex-basis: calc((100% - 4%) + 2%);
}
.big:hover .boks {
  width: 22vw;
  transition: width 0.3s ease;
}
.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.invisible {
  background-color: #00000000;
}