::-moz-selection { /* Code for Firefox */
  color: #441e05;
  background: #cd7d47;
}
::selection {
  color: #441e05;
  background: #cd7d47;
}
@font-face {
  font-family: "Product Sans";
  src: url("Product Sans Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Product Sans";
  src: url("Product Sans Bold.ttf");
  font-weight: 700;
}
body {
  height: 100vh;
  height: 100%;
  margin: 0;

}
a, p {
  color: #bbe1fa;
  font-family: "Product Sans";
  font-weight: 700;
}
.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #0f4c75;
}
.cell, .bar {
  display: flex;
  justify-content: center;
  line-height: 25vh;
  font-size: 2vw;  
  flex: 0 0 calc(100% / 3  - 4%);
  height: calc(100vh / 3 - 7.4vh);
  margin-bottom: 3.7vh;
  margin-top: 3.7vh;
  margin-left: 2%;
  margin-right: 2%;
  background-color: #1b262c;
  border-radius: 40px;
  transition: all 0.3s ease;
}
.bar:hover {
  flex-basis: calc((100% - 80px) + 2%);
  margin-left: 1%;
  margin-right: 1%;
  margin-top: 1.85vh;
  margin-bottom: 5.55vh;
  background-color: #3282b8;
  font-size: 10vmin;
}
.cell:hover {
  flex-basis: calc((100% / 3  - 80px) + 2%);
  margin-left: 1%;
  margin-right: 1%;
  margin-top: 1.85vh;
  margin-bottom: 5.55vh;
  background-color: #3282b8;
  font-size: 2.6vw;
}
.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}