::-moz-selection { /* Code for disgusting stupid firefox browser */
  color: #441e05e0;
  background: #cd7d47e0;
}
::selection {
  color: #441e05e0;
  background: #cd7d47e0;
}
@font-face {
  font-family: "Product Sans";
  src: url("Product Sans Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Product Sans";
  src: url("Product Sans Bold.ttf");
  font-weight: 700;
  font-display: swap;
}
body {
  height: 100vh;
  height: 100%;
  margin: 0;
}
a, p, h1 {
  color: #111111;
  font-family: "Product Sans";
  font-weight: 700;
}
h1 {
  display: flex;
  align-items: center;
}
img {
  height: 64px;
  width: 64px;
  -webkit-transition: -webkit-transform .5s ease-in-out;
  -ms-transition: -ms-transform .5s ease-in-out;
  transition: transform .5s ease-in-out;  
}
img:hover {
  transform:rotate(360deg);
  -ms-transform:rotate(360deg);
  -webkit-transform:rotate(360deg);
  cursor: pointer;
}
.App {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}
.header {
  margin-top: 10vh;
  margin-left: 10vw;
  display: flex;
  width: 80vw;
  justify-content: flex-start;
}